<div class="pages navbar-fixed">
  <div data-page="index" class="page">
    <div class="navbar theme-lightblue">
      <div class="navbar-inner">
        <div class="center">Weather App</div>
        <div class="right">
          <a href="#" class="link icon-only open-panel">
            <i class="icon icon-bars"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <span>Slide 1</span>
            <a href="#" class="link floating-button">
              <i class="icon icon-plus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
