<div class="view">
  <div class="pages">
    <div class="page navbar-fixed">
      <div class="navbar">
        <div class="navbar-inner">
          <form class="searchbar">
            <div class="searchbar-input">
              <input type="search" placeholder="Search" />
              <a href="#" class="searchbar-clear"></a>
              <div class="preload preloader-white"></div>
            </div>
          </form>
        </div>
      </div>
      <div class="page-content">
        <div class="list-block">
          <ul class="search-results">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
