doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui")
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    title Weather App
    link(rel="stylesheet", href="css/framework7.material.min.css")
    link(rel="stylesheet", href="css/framework7.material.colors.min.css")
  body
    .panel-overlay

    .panel.panel-left.panel-cover
      .view.navbar-fixed(data-page="panel-left")
        .pages
          .page(data-page="panel-left")
            .navbar
              .navbar-inner
                .center Cities
              .page-content
                .content-block
                  p This is a side panel/drawer. 

    // Views
    .views
      // Main view, should have "view-main" class
      .view.view-main
        .pages.navbar-fixed.toolbar-fixed
          // Index Page
          .page(data-page="index")
            
            // Top Navbar
            .navbar
              .navbar-inner
                .center Weather App
                .right
                  a(href="#").link.icon-only.open-panel
                    i.icon.icon-bars
                
            .page-content
              a(href="#", class="link, floating-button")
                i.icon.icon-plus
        

    script(type="text/javascript", src="js/framework7.min.js")
    script(type="text/javascript", src="js/application.js")
